/* .thread.card-content {
    color: white;
}



.zoom {
    margin: 1rem auto;
} */



/* .thread-wrap.col.s12.m7 {
    height: 12rem;
} */

span.thread.card-title {
    color: rgb(0, 0, 173);
}

p#thread-prompt {
    color: rgb(0, 36, 104);
}