#thread-area {
    
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    padding: 2rem;

}

#response-area {
    background-color: rgb(207, 203, 159);
    box-shadow: -100px -5px -5px red;
    height: 100vh;
    box-shadow: -3px 0px 3px 0px rgb(85, 85, 85);
    
}

h2#current-thread-title {
    font-size: 3rem;
    text-decoration: underline;
    color: rgb(32, 32, 32);
    font-weight: bold;
}

div#thread-prompt {
    font-size: 2rem;
    margin-left: 12%;
    width: 75%;
}

textarea#response-input-area {
    
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
    background-repeat: no-repeat;
    outline: none;
}

div.text-area-wrap {
    margin-top: .5rem;
    margin-bottom: 0rem;
    padding: 0rem;
}

textarea#styled.text-area {
    padding: 5px;
	font-family: Tahoma, sans-serif;
    background-repeat: no-repeat;
    outline: none;
    resize: none;
    height: 8rem;
    margin: 0;
    
}

div#thread-btn-wrap {
    margin-left: 0rem;
    margin-bottom: 2rem;
}